@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

:root {
    font-family: "Roboto", sans-serif;

    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    /* font-style: normal; */

    /* font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; */

    ::-webkit-scrollbar {display:none;}
  }